.navbar {
    background-color: var(--uf-blue);
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0 0 10px 10px;
  }
  
  .navbar h1 {
    color: var(--uf-orange);
    font-size: 24px;
  }
  
  .nav-links a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    transition: color 0.3s;
  }
  
  .nav-links a:hover {
    color: var(--uf-orange);
  }
  
  .logout-btn {
    background-color: #fa4616;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 8px;
    margin-left: 10px;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
  }
  
  .logout-btn:hover {
    background-color: #d53a15;
  }
  
  
  
  